body {
    width: 50%;
    margin: auto;
    margin-top: 2em;
}
form {
    border: solid 2px rgb(226,91,14);
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: 0px 0px 10px 3px rgb(93, 197, 227);
}

/*input colors*/
#inputName {
    box-shadow: 0px 0px 10px 0px rgb(217,31,38);
}

#inputEmail {
    box-shadow: 0px 0px 10px 0px rgb(245,221,8);
}

#inputPassword {
    box-shadow: 0px 0px 10px 0px rgb(5,148,68);
}

#inputPasswordConfirm {
    box-shadow: 0px 0px 10px 0px rgb(4,77,145);
}

/*PASSWORD*/
.progress {
    width: 70%;
    margin-bottom: 0;
}
.enjoy-css {
    margin: 0;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal normal bold 50px/normal "Bad Script", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 0 0 rgb(217,31,38) , 6px 0 0 rgb(226,91,14) , 9px 0 0 rgb(245,221,8) , 12px 0 0 rgb(5,148,68) , 15px 0 0 rgb(2,135,206) , 18px 0 0 rgb(4,77,145) , 21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.enjoy-css:hover {
  text-shadow: -3px 0 0 rgb(217,31,38) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
